{% extends 'admin/base_site.html' %}

{% block title %} Dashboard {% endblock title %}

<!-- Specific CSS goes HERE -->
{% block stylesheets %}

{% endblock stylesheets %}
{% block content %}
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css">
<link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" />
<style>
  body {

      line-height: 1.5;
      margin: 0;
      color: #525f7f;}
    .row {
        display: flex;
        margin: 15px 10px;
        flex-wrap: wrap;
        }
    .card-stats{
        padding: 1rem 1.5rem;
        text-align: center;
        background-color: azure;
    }
    .card {
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    border: 1px solid rgba(0,0,0,.05);
    border-radius: 0.375rem;
    background-color: azure;
    background-clip: border-box;
    border: 0;
    box-shadow: 0 0 2rem 0 rgb(136 152 170 / 15%);
}

.col-md-6 {
    max-width: 50%;
    flex: 0 0 50%;
}
.col-xl-3 {
    max-width: 25%;
    flex: 0 0 25%;
}

</style>
<div class="color">
  <h4 class="text-center">THỐNG KÊ & BÁO CÁO</h4>
  <div class="row" >
      <div class="col-xl-3 col-md-6">
        <div class="card card-stats " >
          <!-- Card body -->
          <div >
            <div class="row">
              <div class="col">
                <h5 class="card-title text-uppercase text-muted mb-0">Total Tour</h5>
                <span class="h2 font-weight-bold mb-0">{{ tour_count }}</span>
              </div>

            </div>
            <p class="mt-3 mb-0 text-sm">
              <span class="text-success mr-2"><i class="fa fa-arrow-up"></i> 3.48%</span>
              <span class="text-nowrap">Since last month</span>
            </p>
          </div>
        </div>
      </div>
      <div class="col-xl-3 col-md-6">
        <div class="card card-stats">
          <!-- Card body -->
          <div >
            <div class="row">
              <div class="col">
                <h5 class="card-title text-uppercase text-muted mb-0">Total Booking</h5>
                <span class="h2 font-weight-bold mb-0">{{booking_count}}</span>
              </div>

            </div>
            <p class="mt-3 mb-0 text-sm">
              <span class="text-success mr-2"><i class="fa fa-arrow-up"></i> 3.48%</span>
              <span class="text-nowrap">Since last month</span>
            </p>
          </div>
        </div>
      </div>
      <div class="col-xl-3 col-md-6">
        <div class="card card-stats">
          <!-- Card body -->
          <div >
            <div class="row">
              <div class="col">
                <h5 class="card-title text-uppercase text-muted mb-0">Turnover</h5>
                <span class="h2 font-weight-bold mb-0">{{turnover.totalmoney__sum}}</span>
              </div>

            </div>
            <p class="mt-3 mb-0 text-sm">
              <span class="text-success mr-2"><i class="fa fa-arrow-up"></i> 3.48%</span>
              <span class="text-nowrap">Since last month</span>
            </p>
          </div>
        </div>
      </div>
      <div class="col-xl-3 col-md-6">
        <div class="card card-stats">
          <!-- Card body -->
          <div >
            <div class="row">
              <div class="col">
                <h5 class="card-title text-uppercase text-muted mb-0">Performance</h5>
                <span class="h2 font-weight-bold mb-0">49,65%</span>
              </div>

            </div>
            <p class="mt-3 mb-0 text-sm">
              <span class="text-success mr-2"><i class="fa fa-arrow-up"></i> 3.48%</span>
              <span class="text-nowrap">Since last month</span>
            </p>
          </div>
        </div>
      </div>
  </div>
</div>

<ul>
    {% for c in tour_stats %}
    <li><strong>{{ c.name }}</strong> có {{ c.tourbook_count }} lượt đặt </li>
    {% endfor %}

</ul>
<div style="height: 100px; width: 50%;">
  <canvas id="myChart" ></canvas>
</div>
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

<script>
  let labels = []
    let data = []
    let colors = []
    let borderColors = []
    let r, g, b;

    {% for c in tour_stats %}
    labels.push('{{ c.name }}')
    data.push({{ c.tourbook_count }})

    r = parseInt(Math.random() * 255)
    g = parseInt(Math.random() * 255)
    b = parseInt(Math.random() * 255)
    colors.push(`rgba(${r}, ${g}, ${b}, 0.8)`)
    borderColors.push(`rgba(${r}, ${g}, ${b}, 1)`)
    {% endfor %}

    window.onload = function() {
        const ctx = document.getElementById('myChart').getContext('2d')

        const myChart = new Chart(ctx, {
            type: 'bar',
            data: {
                labels: labels,
                datasets: [{
                    label: 'Thong ke so dat tour',
                    data: data,
                    backgroundColor: colors,
                    borderColor: borderColors,
                    borderWidth: 1
                }]
            },
            options: {
                scales: {
                    y: {
                        beginAtZero: true
                    }
                }
            }
        });
    }
</script>
<script>
  const myChart = new Chart(
    document.getElementById('myChart'),
    config
  );
</script>
{% endblock %}
{% block javascripts %}

  <script src="/static/assets/vendor/chart.js/dist/Chart.min.js"></script>
  <script src="/static/assets/vendor/chart.js/dist/Chart.extension.js"></script>

{% endblock javascripts %}